body{
    font-family: Helvetica;
}
#index body{
    font-family: Helvetica;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    background-image: rgb(255, 255, 255,0.25) ,url('../images/BGLogin.png');
    background-size:content;
    overflow: hidden;
}
#index #loginContainer{
    background-color: rgba(0, 0, 0, 0.452);
    height: 65%;
    width: fit-content;
    padding: 30px;
    border-radius: 75px;
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    align-items: center;
    grid-column: 2;
    width: 50%;
    color: white;
}
#index #loginContainer input{
    width: 80%;
    height: 50px;
    border-radius: 20px;
    box-shadow: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10%;
    border: 3px solid #ffffff;
    background-color: rgba(240, 248, 255, 0.188);
}
#index #loginContainer input::placeholder{
    font-weight: bold;
    opacity: .25;
    font-size: 20px;
    color: rgb(240, 240, 240);
    margin-left: 5%;
}
#index #loginContainer input[type="text"]{
    font-size:20px;
    color: white;
}
#index #loginContainer input[type="password"]{
    font-size:20px;
    color: white;
}
#index #loginContainer #submit{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 5% ;
    font-size: 20px;
    border-radius: 50px;
    background-color: #006e8c;
    color: white;
    border: none;
    border: 5px solid #006e8c;
}
#index #loginContainer #submit:hover{
    background-color: #029bc600;
    border: #006e8c 5px solid;
}
#index #loginContainer h1{
    font-size: 45px;
    font-style: bold;
}
#index #loginContainer div{
    width: 100%;
    text-align: left;

}
#index #loginContainer div label{
    position: relative;
    left: 35px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
#index #illus{
    position: absolute;
    height: 65%;
    top: 50%;
    left: -3%;
}
#index #logo{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 40%;
}
@media screen and (max-width: 426px){
    #index body{
        display: flex;
        width: 100%;
    }
    #index #logo {
        position: absolute; /* postulat de départ */
        top: 10%;
        left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%);
    }
    #index #illus{
        height: 30%;
        top: 65%;
    }
    #index #loginContainer{
        width: 75%;
        height: fit-content;
        margin: 0 auto;
        margin-top: 50%;
    }
}
@media screen and (max-width: 320px){
    #index #illus{
        height: 25%;
    }
}
body{
    background-color: #3999ae;
    margin: 0;
}
header{
    display: flex;
    margin: 0;
    background-color: white;
    position: sticky;
    top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
header img{
    height: 100px;
}

header a{
    text-decoration: none;
    color:#454c55;
    font-size: 30px;
    font-weight:bolder;
    margin-left: 2em;
    margin-top: auto;
    margin-bottom: auto;
}
header #iconUser{
    position: absolute;
    height: 70%;
    margin: 1%;
    left: 90%;
    top: 6%;
}
header #iconUser:hover{
    position: absolute;
    height: 72%;
}

header .headerLink{
    padding: 1%;
}
header .headerLink:hover{
    background-color: #3999ae;
    color: white;
    padding: 1%;
    border-radius: 30px;
}
header #lg{
    margin: 1%;
    margin-right: 39%;
}
body p{
    margin-top: 110%;
}
#contentContener tr{
    margin-top: 2%;
}
#accueil #contentContener {
    display: table;
    background-color: white;
    width: 92%;
    height: fit fit-content;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 5%;
}
#contentContener h1 {
    font-weight: bolder;
    font-size: 4em;
    width: fit-content;
    height: fit-content;
    margin-top: 4%;
    margin-left: 4%;
}
#accueil #contentContener #statVictoire {
    background-color: #3999ae;
    border-radius: 40px;
    width: 85%;
    margin-top: 14%;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 1%;
}
#accueil caption{
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 2%;
}
#accueil #contentContener #statJouer{
    background-color: #3999ae;
    border-radius: 40px;
    width: 85%;
    margin-top: 14%;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 1%;
}
#contentContener td{
    border-radius: 40px;
    width: fit-content;
    background-color: white;
    text-align: center;
    font-size: 2em;
}
#contentContener th{
    width: fit-content;
    font-size: 2em;
}
#contentContener td img{
    height: 1em;
    margin-left: 5%;
}
#pagejoueur #contentContener{
    display: table;
}
#pagejoueur #contentContener #tablejoueur {
    background-color: #3999ae;
    border-radius: 40px;
    width: 85%;
    margin-top: 14%;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 1%;
}
#pagejoueur #contentContener #head{
    display: flex;
}
#pagejoueur #contentContener #btnAdd{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    height: 10%;
    width: fit-content;
    padding: 1%;
    text-decoration: none;
    border-radius: 40px;
    background-color: #006e8c;
    margin-top: 5%;
    margin-left: 55%;
}
#pagejoueur #contentContener #btnAdd:hover{
    background-color: white ;
    color: #006e8c;
    border: solid 5px #006e8c;
}
#pagejoueur #recherche input{
    font-size: 1em;
    border-radius: 2em;
    padding: 1%;
}
#pagejoueur #recherche input[type=submit]{
    background-color: #006e8c;
    border: none;
    color: white;
    font-weight: bolder;
}
#pagejoueur #recherche input[type=submit]:hover{
    background-color: white ;
    color: #006e8c;
    border: solid 3px #006e8c;
}

#pagejoueur #recherche input[type=search]{
    margin-left: 8%;
    width: 25%;
}
#pagejoueur #recherche input[type=search]:focus{
    border: solid 3px #006e8c;
}

#pagejoueur #contentContener td{
    border-radius: 40px;
    width: fit-content;
    background-color: white;
    text-align: center;
    font-size: 2em;
}

#pagejoueur #contentContener .ligneJoueur:hover td{
    background-color: lightslategrey;
    color: white;
}


#match #contentContener #tableMatchs {
    background-color: #3999ae;
    border-radius: 40px;
    width: 85%;
    margin-top: 14%;
    margin: 0 auto;
    padding: 1%;
}

#match #contentContener {
    display: table;
    background-color: white;
    width: 92%;
    height: 75%;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 5%;
}

#match #recherche input{
    font-size: 1em;
    border-radius: 2em;
    padding: 1%;
}

#match #recherche input[type=submit]{
    background-color: #006e8c;
    border: none;
    color: white;
    font-weight: bolder;
}

#match #recherche input[type=submit]:hover{
    background-color: white ;
    color: #006e8c;
    border: solid 3px #006e8c;
}

#match #recherche input[type=search]{
    margin-left: 8%;
    width: 25%;
}
#match #recherche input[type=search]:focus{
    border: solid 3px #006e8c;
}

#match #contentContener #head{
    display: flex;
}
#match #contentContener #btnAdd{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    height: 10%;
    width: fit-content;
    padding: 1%;
    text-decoration: none;
    border-radius: 40px;
    background-color: #006e8c;
    margin-top: 5%;
    margin-left: 55%;
}
#match #contentContener #btnAdd:hover{
    background-color: white ;
    color: #006e8c;
    border: solid 5px #006e8c;
}
#match #recherche input[type=submit]{
    border-radius: 2em;
    padding: 1%;
}
#Gprofil #contentContener {
    display: table;
    background-color: white;
    width: 92%;
    height: 75%;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 5%;
}
#Gprofil #contentContener p {
    margin: 0;
}
#Gprofil #contentContener form .form-elements{
    margin-top: 3%;
}
#Gprofil form{
    display: table;
    width: 80%;
    margin: 0 auto;
    border: #006e8c solid 2px;
    margin-bottom: 2%;
}
#Gprofil form .form-elements input,select,label{
    font-size: 1em;
    font-weight: bolder;
    margin: 1%;
}
#Gprofil form .form-elements input,select{
    margin-right: 5%;
}
#Gprofil form p{
    margin: 1%;
    width: fit-content;
}
#Gprofil form img{
    height: 12em;
    border-radius: 20%;
    background-color: #006e8c;
    padding: 10px;
}
#Gprofil form .btn{
    font-size: 1em;
    background-color: #006e8c;
    border: none;
    padding: 1%;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    height: fit-content;
    margin-top: 5%;
}
#Gprofil form .btn:hover{
    background-color: white;
    color: #006e8c;
    border: #006e8c solid 3px;

}
#Gprofil #pic{
    display: flex;
    padding: 2%;
    border-radius: 2em;
}
#Gprofil #info{
    padding: 2%;
    border-radius: 2em;
    height: 440px;
}
#Gprofil #pic div{
    display: block;
    height: 250px;
    width: 30%;
}
#Gprofil #pic div input{
    margin-top: 5%;
}
#Gprofil #pic input[type=submit]{
    height: fit-content;

}
#profil #contentContener {
    display: table;
    background-color: white;
    width: 92%;
    height: 75%;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 5%;
}
#profil #profil-content{
    display: table;
    width: 90%;
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 5%;
    border: #006e8c solid 2px;
    border-radius: 40px;
    padding: 15px;
}
#profil #profil-content img {
    height: 12em;
    border-radius: 20%;
    background-color: #006e8c39;
    padding: 5px;
}
#profil #profil-content div{
    display: flex;
    text-align: center;
}
#profil #profil-content p{
    font-weight: bolder;
    font-size: 1.5em;
    width: fit-content;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 10%;
}
#profil #contentContener #table-stats {
    background-color: #3999ae;
    border-radius: 40px;
    width: 90%;
    margin-top: 14%;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 1%;
}

#pageModifMatch #contentContener {
    display: table;
}

#pageModifMatch #contentContener #head {
    margin-top: 4%;
    margin-left: 1%;
}

#pageModifMatch #contentContener #formModifMatch {
    margin-left: 7%;
    margin-bottom: 5%;
}

#pageModifMatch #contentContener #formModifMatch div {
    margin-top: 2%;
    margin-bottom: 2%;
}

#pageModifMatch #contentContener form {
    padding: 3%;
    display: table;
    width: 80%;
    margin: 0 auto;
    border: #006e8c solid 2px;
    margin-bottom: 2%;
    border-radius: 40px;
    font-size: 1.3em;
}

#pageModifMatch #contentContener #formModifMatch .buttonForm {
    margin-left: 0.5%;
    margin-bottom: 1%;
}

#pageModifMatch form .buttonForm #btn{
    font-size: 1em;
    background-color: #006e8c;
    border: none;
    padding: 1%;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    height: fit-content;
    margin-top: 0;
}

#pageModifMatch form .buttonForm #btn:hover {
    background-color: white;
    color: #006e8c;
    border: #006e8c solid 3px;
}

#vue-match #contentContener {
    display: table;
    background-color: white;
    width: 92%;
    height: fit fit-content;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 5%;
}
#vue-match #contentContener #table-joueurs{
    background-color: #3999ae;
    border-radius: 40px;
    width: 90%;
    margin-top: 14%;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 1%;
}
#vue-match #contentContener p{
    margin: 1%;
    font-weight: bolder;
    font-size: 1.5em;
}
#vue-match #vue-match-content {
    display: table;
    width: 90%;
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 5%;
    border: #006e8c solid 2px;
    border-radius: 40px;
    padding: 15px;
}
#feuilleMatch #contentContener {
    display: table;
    background-color: white;
    width: 92%;
    height: fit fit-content;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 5%;
}
#feuilleMatch #contentContener h1{
    font-size: 3em;
}
#feuilleMatch #contentContener textarea[name=com]{
    font-size: 1em;
    font-weight: bolder;
    resize : both;
    min-width : 200px;
    min-height : 200px;
    max-width : 400px;
    max-height : 300px;
}
#feuilleMatch #contentContener form{
    display: table;
    padding: 3%;
    width: 80%;
    margin: 0 auto;
    border: #006e8c solid 2px;
    margin-bottom: 2%;
    border-radius: 40px;
    font-size: 1.3em;
}
#feuilleMatch #contentContener form input[type=submit]{
    font-size: 1em;
    background-color: #006e8c;
    border: none;
    padding: 1%;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    height: fit-content;
    margin-top: 2%;
}
#feuilleMatch #contentContener form input[type=submit]:hover{
    background-color: white;
    color: #006e8c;
    border: #006e8c solid 3px;
}
#feuilleMatch #contentContener form .part{
    margin-bottom: 5%;
}
#feuilleMatch #contentContener form input,textarea{
    margin-left: 2%;
}
#feuilleMatch #contentContener form input[type=number]{
    width: 15%;
    font-size: 1em;
    font-weight: bolder;
}

footer{
    background-color: white;
    margin-top: 5%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    flex-wrap: wrap;
}
#grid-footer {
    display: flex;
    width: 100%;
}
footer #reseaux {
    width: 50%;
    height: 60%;
}
footer #reseaux #logoReseau{
    text-align: center;
    height: 10em;
}
footer #reseaux img{
    width: 4em;
    margin: 5%;
}
footer #reseaux img:hover{
    width: 4.5em;
    margin: 5%;
}
footer #reseaux p{
    margin-top: 1%;
    text-align: center;
}
footer #info {
    width: 50%;
    height: 20%;
}
footer #info p {
    margin:  5%;
    font-size: 20px;
    text-align: center;
}
footer #info p:hover {
    margin:  5%;
    font-size: 20px;
    font-weight: bold;
}
footer #droit {
    display: flex;
    height: fit-content;
}
footer #droit p{
    margin-top: 1%;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    width: 100%;
}
