body{
    font-family: Helvetica;
}
#index body{
    font-family: Helvetica;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    background-image: rgb(255, 255, 255,0.25) ,url('images/BGLogin.png');
    background-size:content;
    overflow: hidden;
}
#index #loginContainer{
    background-color: rgba(0, 0, 0, 0.452);
    height: 65%;
    width: fit-content;
    padding: 30px;
    border-radius: 75px;
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    align-items: center;
    grid-column: 2;
    width: 50%;
    color: white;
}
#index #loginContainer input{
    width: 80%;
    height: 50px;
    border-radius: 20px;
    box-shadow: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10%;
    border: 3px solid #ffffff;
    background-color: rgba(240, 248, 255, 0.188);
}
#index #loginContainer input::placeholder{
    font-weight: bold;
    opacity: .25;
    font-size: 20px;
    color: rgb(240, 240, 240);
    margin-left: 5%;
}
input[type="text"]{
    font-size:20px;
    color: white;
}
input[type="password"]{
    font-size:20px;
    color: white;
}
#index #loginContainer #submit{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 5% ;
    font-size: 20px;
    border-radius: 50px;
    background-color: #006e8c;
    color: white;
    border: none;
    border: 5px solid #006e8c;
}
#index #loginContainer #submit:hover{
    background-color: #029bc600;
    border: #006e8c 5px solid;
}
#index #loginContainer h1{
    font-size: 45px;
    font-style: bold;
}
#index #loginContainer div{
    width: 100%;
    text-align: left;
    
}
#index #loginContainer div label{
    position: relative;
    left: 35px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
#index #illus{
    position: absolute;
    height: 65%;
    top: 50%;
    left: -3%;
}
#index #logo{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 40%;
}
@media screen and (max-width: 426px){
    #index body{
        display: flex;
        width: 100%;
        border:  1px solid black;
    }
    #index #logo {
        position: absolute; /* postulat de départ */
        top: 10%;
        left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%);
    }
    #index #illus{
        height: 30%;
        top: 65%;
    }
    #index #loginContainer{
        border:  1px solid black;
        width: 75%;
        height: fit-content;
        margin: 0 auto;
        margin-top: 50%;
    }
}
@media screen and (max-width: 320px){
    #index #illus{
        height: 25%;
    }
}
#accueil body{
    background-color: #3999ae;
    margin: 0;
}
#accueil header{
    display: flex;
    margin: 0;
    background-color: white;
    position: sticky;
    top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#accueil header img{
    height: 100px;
}

#accueil header a{
    text-decoration: none;
    color:#454c55;
    font-size: 30px;
    font-weight:bolder;
    margin-left: 2em;
    margin-top: auto;
    margin-bottom: auto;
}
#accueil header #iconUser{
    position: absolute;
    height: 70%;
    margin: 1%;
    left: 90%;
    top: 6%;
}
#accueil header #iconUser:hover{
    position: absolute;
    height: 72%;
}
#accueil header #logo{
    margin: 1%;
    margin-right: 39%;
}
#accueil header .headerLink{
    padding: 1%;
}
#accueil header .headerLink:hover{
    background-color: #3999ae;
    color: white;
    padding: 1%;
    border-radius: 30px;
}

#accueil body p{
    margin-top: 110%;
}
#accueil #contentContener {
    display: flex;
    background-color: white;
    width: 92%;
    height: 75%;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 5%;
}
#accueil #contentContener h1 {
    font-weight: bolder;
    font-size: 4em;
    width: fit-content;
    height: fit-content;
    margin-top: 4%;
    margin-left: 4%;
}
#accueil #contentContener #statVictoire {
    position: absolute;
    background-color: #3999ae;
    border-radius: 40px;
    width: 85%;
    margin-top: 14%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    padding: 1%;
}
#accueil #contentContener td{
    border-radius: 40px;
    width: fit-content;
    background-color: white;
    text-align: center;
    font-size: 2em;
}
#accueil #contentContener th{
    width: fit-content;
    font-size: 2em;
}
#pagejoueur #contentContener #tablejoueur {
    position: absolute;
    border: solid 3px black;
    background-color: #3999ae;
    border-radius: 40px;
    height: fit-content;
    width: 85%;
    margin-top: 12%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
}
footer{
    background-color: white;
    margin-top: 5%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    height: 15em;
}
footer #reseaux {
    display: flex;
    height: fit-content;
    border: black 1px solid;
}
footer #reseaux p{
    margin-top: 1%; 
}
footer #info {
    margin: 3%;
    width: 30%;
    height: fit-content;
}
footer #info p {
    margin:  5%;
    font-size: 20px;
}
footer #info p:hover {
    margin:  5%;
    font-size: 20px;
    font-weight: bold;
}
footer #droit {
    display: flex;
    height: fit-content;
    border: black 1px solid;
}
footer #droit p{
    margin-top: 1%;
}