body{
    font-family: Helvetica;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    background-image:url('images/BGLogin.png');
    background-size:content;
    overflow: hidden;
}
#loginContainer{
    background-color: rgba(0, 0, 0, 0.452);
    display: absolute;
    height: fit-content;
    width: fit-content;
    padding: 30px;
    border-radius: 20%;
    margin-left: 20%;
    margin-top: 20%;
    text-align: center;
    grid-column: 2;
    width: 50%;
}
imageContainer{
    grid-column: 1;
}
#illus{
    display: absolute;
    height: 45%;
    margin-left: -70px;
    margin-top: 100px;
}
illusContainer{
    
}
#logo{
    margin-top: 20%;
    margin-left: 10%;
    width: 120px;
}